body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
p {
    margin-bottom: 0;;
}

/* page 1 */
.page1{
    background: url('img/Decore.svg') no-repeat;
    opacity: 1;
    height:auto;
}
/* row 1 */

.navbar{
    padding-top: 30px;
}
.nav-link{
    margin-left: 20px;
    text-align:right;
    font: normal normal bold 18px/24px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #212832;
    opacity: 1;
}

.nav_button {
    background: #F65F4D 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal 800 18px/24px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: none;
    width: 204px;
    height: 70px;
    
}

select{
    border: none;
    background:none;
    margin-left: 15px;
 
}


/* row 2 */
.r2_page1 {
    margin-top: 20px;
}

.r2_right{
    margin-top: 6%;
    text-align: right;
}
.p1_page1{
    text-align: right;
    font: normal normal bold 28px/55px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #DF6951;
    text-transform: uppercase;
    opacity: 1;
}
.h2_page1{
    text-align: right;
    font: normal normal bold 86px/108px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #181E4B;
    opacity: 1;
    
}
.p2_page1{
    text-align: right;
    font: normal normal 300 17px/27px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #5E6282;
    opacity: 1;
}

.pic2_page1{
    margin-right: -60px;
}

.pic_page1{
    margin-left: -107px;
}


/* ******************************************************************** */

/* page 2 */

.page2{
    background-color: white;
    height: auto;
    opacity: 1;
    margin-top: 6%;
}

/* row 1 */


.h1_page2{
    font: normal normal bold 50px/68px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #14183E;
    text-transform: capitalize;
    opacity: 1;
}
.img_r1_page2{
    background-image: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right;
}

/* row 2 */
.box_page2{
    text-align: center;
    opacity: 1;
}
.img_r2_page2{
    margin-top: 25px;
    text-align: center;
    background:no-repeat;
    opacity: 1;
}

.p1_page2{
    margin-top: 25px;
    text-align: center;
    font: normal normal bold 20px/27px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #1E1D4C;
    opacity: 1;
}
.p2_page2{
    margin-top: 25px;
    text-align: center;
    font: normal normal medium 16px/26px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #5E6282;
    opacity: 1;
}

/* ******************************************************************************************* */

/* page 3 */
.page3{
    background-color: white;
    height: auto;
    margin-top: 13%;
}
/* row 1 */

.h1_page3{
    font: normal normal 600 44px/61px Noto Sans Arabic UI;
    letter-spacing: -1.57px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}

/* row 2 */

/* .r2_page3_left */

.star1_page3{
    text-align: left;
    margin-left: 50px;
    margin-bottom: -100px;  
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0px;
    color: #6246E5;
    opacity: 1;
}
.star2_page3{
    margin-block-start: 10px;
    margin-top: -480px;
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0px;
    color: #FF7152;
    opacity: 1;
}
.img1_page3{
    margin-top: 110px;
    margin-left: 30px;
    opacity: 1;
}
.img2_page3{
    margin-top:400px;
    margin-left: 215px;
    opacity: 1;
}


/* .r2_page3_right */
.r2_page3_right{
    margin-top: 6%;
    text-align: right;
}
.p1_page3{
    text-align: right;
    font: normal normal bold 28px/55px Noto Sans Arabic UI;
    letter-spacing: -0.79px;
    color: #F65F4D;
    text-transform: uppercase;
    opacity: 1;
}
.h2_page3{
    text-align: right;
    font: normal normal bold 79px/108px Noto Sans Arabic UI;
    letter-spacing: -1.89px;
    color: #000000;
    opacity: 1;
}
.p2_page3{
    text-align: right;
    font: normal normal 300 24px/30px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #898989;
    opacity: 1;

    

}

/* ************************************************************************************* */

/* mobile */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 823px)
  and (-webkit-min-device-pixel-ratio: 1) {

    /* page 1 */
    .page1{
        background: white; 
    }
    .navbar{
        display: block;
    }
    .navbar-toggler{
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 30px;
    }
    .logo{
        position:absolute;
        left: 0;
        top: 0;
        margin-top: 30px;
        margin-left: 20px;

    }
    .nav-link{
        text-align: right;
    }
    .navbar-nav{
        margin-top: 60px;
    }
    .nav_button , select{
        display: none;
    }
    .r2_right {
        margin-top: 15%;
        text-align: center;
    }
    .p1_page1{
        text-align: center;
        font: normal normal bold 29px/40px Noto Sans Arabic UI;
    }
    .h2_page1{
        text-align: center;
        font: normal normal bold 57px/80px Noto Sans Arabic UI;
    }
    .p2_page1{
        text-align: center;
        font: normal normal medium 17px/27px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #5c5e6d;
        opacity: 1;
    }

    .pic_page1{
        margin-left: 0;
    }

    /* .r2_left {
        background: #F6D4CE 0% 0% no-repeat padding-box;
        opacity: 1;
        border-top-left-radius: 550px;
        border-bottom-left-radius: 550px;
    } */


    /* page 2 */
    .page2{
        margin-top: 25%;
    }
    .r1_page2{
        text-align: center; 
    }
    .img_r1_page2{
        display: none;
    }

    .h1_page2{
        text-align: center;
        font: normal normal bold 70px/61px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #14183E;
        text-transform: capitalize;
        opacity: 1;
    }
    .r2_page2{
        text-align: center;
        margin-top: 22px;
    }
    .p1_page2{
        text-align: center;
        font: normal normal bold 25px/27px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #1E1D4C;
        opacity: 1;
    }
    .p2_page2{
        text-align: center;
        font: normal normal medium 16px/26px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #5E6282;
        opacity: 1;
    }

    /* page 3 */
    .page3{
        margin-top: 25%;
    }
    .h1_page3{
        text-align: center;
        font: normal normal 600 57px/61px Noto Sans Arabic UI;
        letter-spacing: -1.57px;
        color: #000000;
        text-transform: capitalize;
        opacity: 1;
    }
    .p1_page3{
        text-align: center;
        font: normal normal bold 30px/65px Noto Sans Arabic UI;
        letter-spacing: -0.79px;
        color: #F65F4D;
        opacity: 1;
    }
    .h2_page3{
        text-align: center;
        font: normal normal bold 41px/52px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .p2_page3{
        text-align: center;
        font: normal normal 300 18px/30px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #868686;
        opacity: 1;
    }
  }




/* mahmoud */

/* page 4 */
.page4{
    height: auto;
}
/* row 1 */
.firstball{
    margin-top: 30px;
    margin-left: -40%;
}
.f_ball{
    background: #004061 0% 0% no-repeat padding-box;
    width: 87px;
    height: 87px;
    border-radius: 50px;
    opacity: 1;
}

/* row 2 */

.sec_row{
    background: transparent linear-gradient(243deg, #EDEEF600 0%, #F2F3F7 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px;
    margin-top: 20px;
    opacity: 1;
}

/* row 2 left */
.div1{
    margin-top: 62px;
}

.third_ball{
    background:#F65F4D 0% 0% no-repeat padding-box;
    margin-left: 610px;
    border-radius: 50px;
    width: 63px;
    height: 63px;
    opacity: 1;
}

.header_page4{
    text-align: right;
    font: normal normal bold 89px/90px Noto Sans Arabic UI;
    letter-spacing: -2.04px;
    color: #000000;
    opacity: 1;
}

.p1_page4{
    text-align: right;
    font: normal normal 300 22px/35px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #898989;
    opacity: 1;

}

/* row 2 right */

.div2{
    margin-top: 100px;
    margin-bottom: 30px;
}

.background{
    margin-top: -100%;
    margin-left: 50px;
    opacity: 1;
}

.big_ball{
    background :#F65F4D 0% 0% no-repeat padding-box;
    width: 356px;
    height: 356px ;
    border-radius: 300px;
    opacity: 1;
  
} 

.sec_ball{
    background :#004061 0% 0% no-repeat padding-box;
    width: 31px;
    height: 31px;
    border-radius: 50px;
    margin-left: 354px;
    margin-bottom: -44px;
    opacity: 1;
}

/* row 3 */
.forth_ball{
    background :#F65F4D 0% 0% no-repeat padding-box;
    width: 104px;
    height: 104px;
    border-radius: 50px;
    margin-top: -55px;
    opacity: 1;

}

/* **************************************************************************************** */

/* page 5 */

.page5{
    height: auto;
}

/* row 1 */

/* row 1 left */

.star_pic{
    margin-top: 500px;
    margin-right: -60px;
}


/* row 1 right */

.div2_p5{
    margin-top: 213px;
}
.p1_p5{
    text-align: right;
    font: normal normal bold 25px/18px Noto Sans Arabic UI;
    letter-spacing: -0.79px;
    color: #F65F4D;
    opacity: 1;
}
.h2_p5{
    text-align: right;
    font: normal normal bold 59px/72px Noto Sans Arabic UI;
    letter-spacing: -2.04px;
    color: #000000;
    opacity: 1;
}

.p2_p5{
    text-align: right;
    font: normal normal 300 16px/28px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #868686;
    opacity: 1;
}

/* row 2 */

.s_row_p5{
    margin-top: 100px;
}


/* ******************************************************************* */
/* page 6 */
.h1_p6{
    text-align: right;
font: normal normal bold 44px/57px Noto Sans Arabic UI;
letter-spacing: -1.57px;
color: #ffffff;
opacity: 1;
font-size: 30px;
margin-top: 90px;

}
.p1_p6{
    margin-top: 60px;
    margin-right: 25px;
}


/* .google_pic{
margin-left: 300px;
}
.app_store{
margin-left: 120px;

} */
.div1_p6{
    margin-top: 210px;
    margin-right:-30 px;
}
.picture{
   margin-left: 300px;
  
}
.div2_p6{
    margin-left: -65px;
}
.f_row_p6{
    background: #181E4B 0% 0% no-repeat padding-box;
border-radius: 50px;
opacity: 1;
}

.page6{
    height: auto;
    margin-top: 100px;
}
/* ****************************************************************************************************** */
/* page 7  */
 
.h1_p7{
    text-align: right;
font: normal normal medium 44px/61px Noto Sans Arabic UI;
letter-spacing: -1.57px;
color: #000000;
opacity: 1;

}
.pic4_p7{
    margin-left: 30px;
    margin-top: -70px;
}
.P2_P7{
    text-align: center;
font: normal normal normal 16px/9px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

/* ************************************************************************* */

/* mobile */

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 823px)
  and (-webkit-min-device-pixel-ratio: 1) {

    /* page 4 */
     .f_ball ,.third_ball , .sec_ball , .forth_ball  , .s_row_p5{
        display: none;
    }

    .sec_row{
        margin: 0;
    }
    .div1{
        margin: 0;
    }
    .header_page4{
        text-align: center;
        font: normal normal bold 44px/50px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .p1_page4{
        text-align: center;
        font: normal normal 300 18px/30px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #868686;
        opacity: 1;
    }

    .div2{
        margin-top: 30px;
    }
    .background{
        margin-top: -110%;
    }
    .big_ball{
        background: #FAB8C3 0% 0% no-repeat padding-box;
        margin-top: 60px;
    }
    .sec_row{
        background: white;
    }

    /* ****************************************************************** */

    /* paage 5 */
    .page5{
        margin: 0;
    }

    /* row 1 */
    .div2_p5 {
        margin-top: 30px;
    }
   .p1_p5{
       text-align: center;
       font: normal normal bold 28px/45px Noto Sans Arabic UI;
       letter-spacing: -0.79px;
       color: #F65F4D;
       opacity: 1;
       
   }
   .h2_p5{
    text-align: center;
    font: normal normal bold 39px/56px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 0;
   }
   .p3_p5{
    text-align: center;
    font: normal normal 300 18px/30px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #868686;
    opacity: 1;
    margin-right: -20px;
   }
   .div1_p5{

   margin-top: 0px;
   }

   .star_pic{
    margin-bottom: 10px;
    margin-left: -100px;
   }
   .phone_pic{
    margin-top: -20px;
    margin-left: -5px;
   }
                                                      /* page 6 */
 .h1_p6{
     text-align: center;

 }
 .pic4_p5{
    
     width: 418px;
     height: 418px;
     margin-left: 50px;
 }
 .picture{
     margin-left: 43px;
 }
 .f_row_p6{
    background: #181E4B 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 0px;
 }
 .div1_p6 {
    margin-top: -41px;
 }
/* ************************************************************* */
/* page 7  */
.P2_P7{
   text-align: center;
   /* margin-left: 120px; */
  
} 
.h1_p7{
    text-align: center;
}
.pic4_p7{
    margin-left: 0px;
    width: 350px;
    margin-left: 35px;
}
.s_div{
    margin-left: 0px;
    margin-right: 0px;
}
} 