body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
p {
    margin-bottom: 0;;
}

/* page 1 */
.page1{
    background: url('img/Decore.svg') no-repeat;
    opacity: 1;
    height:auto;
}
/* row 1 */

.navbar{
    padding-top: 30px;
}
  
.nav-item{
    margin-left: 20px;
}

.nav_button {
    background: #F65F4D 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: normal normal 800 18px/24px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: none;
    width: 204px;
    height: 70px;
    
}

select{
    border: none;
    background:none;
    margin-left: 15px;
 
}
.logo{
    margin-left: 50px;
}


/* row 2 */
.r2_page1 {
    margin-top: 20px;
}

.r2_right{
    margin-top: 6%;
    text-align: right;
}
.p1_page1{
    text-align: right;
    font: normal normal bold 28px/55px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #DF6951;
    text-transform: uppercase;
    opacity: 1;
}
.h2_page1{
    text-align: right;
    font: normal normal bold 86px/108px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #181E4B;
    opacity: 1;
    
}
.p2_page1{
    text-align: right;
    font: normal normal 300 17px/27px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #5E6282;
    opacity: 1;
}

.pic2_page1{
    margin-right: -60px;
}

.pic_page1{
    margin-left: -107px;
}


/* ******************************************************************** */

/* page 2 */

.page2{
    background-color: white;
    height: auto;
    opacity: 1;
    margin-top: 6%;
}

/* row 1 */


.h1_page2{
    font: normal normal bold 50px/68px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #14183E;
    text-transform: capitalize;
    opacity: 1;
}
.img_r1_page2{
    background-image: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right;
}

/* row 2 */
.box_page2{
    text-align: center;
    opacity: 1;
}
.img_r2_page2{
    margin-top: 25px;
    text-align: center;
    background:no-repeat;
    opacity: 1;
}

.p1_page2{
    margin-top: 25px;
    text-align: center;
    font: normal normal bold 20px/27px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #1E1D4C;
    opacity: 1;
}
.p2_page2{
    margin-top: 25px;
    text-align: center;
    font: normal normal medium 16px/26px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #5E6282;
    opacity: 1;
}

/* ******************************************************************************************* */

/* page 3 */
.page3{
    background-color: white;
    height: auto;
    margin-top: 13%;
}
/* row 1 */

.h1_page3{
    font: normal normal 600 44px/61px Noto Sans Arabic UI;
    letter-spacing: -1.57px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}

/* row 2 */

/* .r2_page3_left */

.star1_page3{
    text-align: left;
    margin-left: 50px;
    margin-bottom: -100px;  
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0px;
    color: #6246E5;
    opacity: 1;
}
.star2_page3{
    margin-block-start: 10px;
    margin-top: -480px;
    font: normal normal normal 22px/25px Roboto;
    letter-spacing: 0px;
    color: #FF7152;
    opacity: 1;
}
.img1_page3{
    margin-top: 110px;
    margin-left: 30px;
    opacity: 1;
}
.img2_page3{
    margin-top:400px;
    margin-left: 215px;
    opacity: 1;
}


/* .r2_page3_right */
.r2_page3_right{
    margin-top: 6%;
    text-align: right;
}
.p1_page3{
    text-align: right;
    font: normal normal bold 28px/55px Noto Sans Arabic UI;
    letter-spacing: -0.79px;
    color: #F65F4D;
    text-transform: uppercase;
    opacity: 1;
}
.h2_page3{
    text-align: right;
    font: normal normal bold 79px/108px Noto Sans Arabic UI;
    letter-spacing: -1.89px;
    color: #000000;
    opacity: 1;
}
.p2_page3{
    text-align: right;
    font: normal normal 300 24px/30px Noto Sans Arabic UI;
    letter-spacing: 0px;
    color: #898989;
    opacity: 1;

    

}

/* ************************************************************************************* */

/* mobile */

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 1) {

    /* page 1 */
    .page1{
        background: white; 
    }
    .r2_right {
        text-align: center;
    }
    .p1_page1{
        text-align: center;
        font: normal normal bold 29px/40px Noto Sans Arabic UI;
    }
    .h2_page1{
        text-align: center;
        font: normal normal bold 57px/80px Noto Sans Arabic UI;
    }
    .p2_page1{
        text-align: center;
        font: normal normal medium 17px/27px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #5c5e6d;
        opacity: 1;
    }

    .pic_page1{
        margin-left: 0;
    }

    .r2_left {
        background: #F6D4CE 0% 0% no-repeat padding-box;
        opacity: 1;
        border-top-left-radius: 550px;
        border-bottom-left-radius: 550px;
    }


    /* page 2 */
    .page2{
        margin-top: 25%;
    }
    .r1_page2{
        text-align: center; 
    }
    .img_r1_page2{
        display: none;
    }

    .h1_page2{
        text-align: center;
        font: normal normal bold 70px/61px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #14183E;
        text-transform: capitalize;
        opacity: 1;
    }
    .r2_page2{
        text-align: center;
        margin-top: 22px;
    }
    .p1_page2{
        text-align: center;
        font: normal normal bold 25px/27px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #1E1D4C;
        opacity: 1;
    }
    .p2_page2{
        text-align: center;
        font: normal normal medium 16px/26px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #5E6282;
        opacity: 1;
    }

    /* page 3 */
    .page3{
        margin-top: 25%;
    }
    .h1_page3{
        text-align: center;
        font: normal normal 600 57px/61px Noto Sans Arabic UI;
        letter-spacing: -1.57px;
        color: #000000;
        text-transform: capitalize;
        opacity: 1;
    }
    .p1_page3{
        text-align: center;
        font: normal normal bold 30px/65px Noto Sans Arabic UI;
        letter-spacing: -0.79px;
        color: #F65F4D;
        opacity: 1;
    }
    .h2_page3{
        text-align: center;
        font: normal normal bold 41px/52px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    .p2_page3{
        text-align: center;
        font: normal normal 300 18px/30px Noto Sans Arabic UI;
        letter-spacing: 0px;
        color: #868686;
        opacity: 1;
    }
  }
